.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* table styles */
.tables-container {
  display: flex;
  justify-content: space-around; /* This centers the tables and adds space around them */
  flex-wrap: wrap; /* Allows tables to wrap into a new line on smaller screens */
}

table {
  flex: 1; /* Makes each table take equal amount of width */
  /* You might want to set a min-width to prevent tables from getting too small */
  min-width: 300px; /* Adjust based on your content */
}

.table-wrapper {
  flex: 1; /* Adjust this as needed to control how much space each table takes up */
  padding: 1.25rem; /* Optional: adds some spacing between tables */
  min-width: 300px; /* Optional: prevent the tables from becoming too small */
  max-width: 1280px; /* Optional: prevent the tables from becoming too small */
}

/* button styles */
button {
  margin: 8px;
}

/* div styles */
.content-main {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 36px 48px 48px 0px;
}

.article-main {
  padding: 8px 12px 12px 12px;
}